language: node_js
node_js:
    - "0.10"
    - "0.11"
    - "0.12"
before_install:
    - "npm install -g npm@2.11.x"
script:
    - "npm run test-travis"
after_script:
    - "npm install coveralls@2.11.x && cat coverage/lcov.info | coveralls"
